In [14]:
import pandas as pd

df = pd.read_table('SMSSpamCollection',  
                   sep='\t', 
                   header=None,
                   names=['label', 'message'])

In [15]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
len(df)

5572

In [17]:
df['label'] = df.label.map({'ham': 0, 'spam': 1})

In [18]:
df.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [19]:
df['message'] = df.message.map(lambda x: x.lower())

In [20]:
df['message'] = df.message.str.replace('[^\w\s]', '')

In [21]:
df.head()

   label                                            message
0      0  go until jurong point crazy available only in ...
1      0                            ok lar joking wif u oni
2      1  free entry in 2 a wkly comp to win fa cup fina...
3      0        u dun say so early hor u c already then say
4      0  nah i dont think he goes to usf he lives aroun...

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

# This converts the list of words into space-separated strings
# df['message'] = df['message'].apply(lambda x: ' '.join(x))

count_vect = CountVectorizer()
counts = count_vect.fit_transform(df['message'])

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(counts, df['label'], test_size=0.1, random_state=69)

In [26]:
X_train

<5014x9542 sparse matrix of type '<type 'numpy.int64'>'
	with 65578 stored elements in Compressed Sparse Row format>

In [27]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB().fit(X_train, y_train)

In [29]:
import numpy as np

predicted = model.predict(X_test)

print(np.mean(predicted == y_test))

0.978494623655914

In [30]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test, predicted))

[[476   6]
 [  6  70]]