# Lab 2 exercise 6

In [78]:
import pandas as pd
import numpy as np


biggie_df = pd.read_csv('./biggie_lyrics.csv', usecols=[1], encoding='latin-1', header=None)
biggie_df.columns = ["lyrics"]
biggie_df["lyrics"] = biggie_df["lyrics"].str.replace('[^\w\s]','')
biggie_df["lyrics"] = biggie_df["lyrics"].str.lower()

biggie_df.tail()

                                               lyrics
11  relax and take notes while i take tokes of the...
12  good evenin ladies and gentlemen\nhows everybo...
13  who shot ya\nseperate the weak from the obsole...
14  when i die fuck it i wanna go to hell\ncause i...
15  when the lala hits ya lyrics just splits ya\nh...

In [79]:
pac_df = pd.read_csv('./2pac_lyrics.csv', usecols=[1], encoding='latin-1', header=None)
pac_df.columns = ["lyrics"]
pac_df["lyrics"] = pac_df["lyrics"].str.replace('[^\w\s]','')
pac_df["lyrics"] = pac_df["lyrics"].str.lower()

pac_df.tail()

                                               lyrics
11  i aint got no motherfucking friends\nthats why...
12  troublesome nigga\nhahaha troublesome 19mother...
13  change shit\ni guess change is good for any of...
14  i see no changes wake up in the morning and i ...
15  out on bail fresh out of jail california dream...

In [80]:
biggie_lyrics = biggie_df["lyrics"].values
biggie_lyrics = [ song.split('\n') for song in biggie_lyrics]
biggie_lyrics = [line for song in biggie_lyrics for line in song]
pac_lyrics = pac_df["lyrics"].values
pac_lyrics = [ song.split('\n') for song in pac_lyrics]
pac_lyrics = [line for song in pac_lyrics for line in song]

rap_lines = [] 

for line in biggie_lyrics:
    if len(line.split()) > 3:
        rap_lines.append(np.array([0,str(line)]))
        
for line in pac_lyrics:
    if len(line.split()) > 3:
        rap_lines.append(np.array([1,str(line)]))
        
rap_lines = np.array(rap_lines)
df = pd.DataFrame(rap_lines)
df.columns = ['label', 'lyrics']
df.head()
df.tail()

     label                                             lyrics
1965     1        so you know the row wont bow down to no man
1966     1  say what you say but give me that bomb beat fr...
1967     1                  let me serenade the streets of la
1968     1  from oakland to sactown the bay area and back ...
1969     1             cali is where they put their mack down

In [81]:
df['lyrics'] = df.lyrics.map(lambda x: x.lower())
df['lyrics'] = df.lyrics.str.replace('[^\w\s]', '')
df.head()

  label                                             lyrics
0     0                                  fuck all you hoes
1     0                            get a grip motherfucker
2     0  yeah this album is dedicated to all the teache...
3     0  id never amount to nothin to all the people th...
4     0  buildings that i was hustlin in front of that ...

In [82]:
import nltk
nltk.download('punkt')
df['lyrics'] = df['lyrics'].apply(nltk.word_tokenize)
df.head()

[nltk_data] Error loading punkt: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed
[nltk_data]     (_ssl.c:726)>

  label                                             lyrics
0     0                             [fuck, all, you, hoes]
1     0                       [get, a, grip, motherfucker]
2     0  [yeah, this, album, is, dedicated, to, all, th...
3     0  [id, never, amount, to, nothin, to, all, the, ...
4     0  [buildings, that, i, was, hustlin, in, front, ...

In [83]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
df['lyrics'] = df['lyrics'].apply(lambda x: [stemmer.stem(y) for y in x]) 
df.head()

  label                                             lyrics
0     0                              [fuck, all, you, hoe]
1     0                         [get, a, grip, motherfuck]
2     0  [yeah, thi, album, is, dedic, to, all, the, te...
3     0  [id, never, amount, to, nothin, to, all, the, ...
4     0  [build, that, i, wa, hustlin, in, front, of, t...

In [84]:
df['lyrics'] = df['lyrics'].apply(lambda x: ' '.join(x))
df.head()

  label                                             lyrics
0     0                                   fuck all you hoe
1     0                              get a grip motherfuck
2     0  yeah thi album is dedic to all the teacher tha...
3     0  id never amount to nothin to all the peopl tha...
4     0  build that i wa hustlin in front of that call ...

In [85]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer(token_pattern = r"(?u)\b\w+\b")
counts = count_vect.fit_transform(df['lyrics'])  
print counts

  (0, 1037)	1
  (0, 2515)	1
  (0, 63)	1
  (0, 858)	1
  (1, 1443)	1
  (1, 942)	1
  (1, 19)	1
  (1, 887)	1
  (2, 1369)	1
  (2, 2275)	1
  (2, 2215)	1
  (2, 2190)	1
  (2, 2217)	1
  (2, 2269)	1
  (2, 569)	1
  (2, 1142)	1
  (2, 58)	1
  (2, 2229)	1
  (2, 2507)	1
  (2, 63)	1
  (3, 24)	1
  (3, 1281)	1
  (3, 1607)	1
  (3, 1513)	1
  (3, 80)	1
  :	:
  (1967, 1907)	1
  (1967, 1211)	1
  (1967, 2116)	1
  (1967, 1251)	1
  (1967, 1529)	1
  (1967, 1369)	1
  (1967, 2217)	1
  (1968, 97)	1
  (1968, 149)	1
  (1968, 1846)	1
  (1968, 1525)	1
  (1968, 855)	1
  (1968, 641)	1
  (1968, 124)	1
  (1968, 83)	1
  (1968, 2217)	1
  (1968, 2269)	1
  (1969, 328)	1
  (1969, 2219)	1
  (1969, 1325)	1
  (1969, 2442)	1
  (1969, 1716)	1
  (1969, 2225)	1
  (1969, 641)	1
  (1969, 1142)	1

# Splitting the data

In [86]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(counts, df['label'], test_size=0.1, random_state=74)

# Training the model

In [87]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(X_train, y_train)

# Testing the model

In [88]:
predicted = model.predict(X_test)
print(np.mean(predicted == y_test))

0.7258883248730964

In [89]:
acc = 0
for i in range(0,10):
    X_train, X_test, y_train, y_test = train_test_split(counts, df['label'], test_size=0.1) 
    model = MultinomialNB().fit(X_train, y_train)  

    predicted = model.predict(X_test)
    print(np.mean(predicted == y_test))
    acc += np.mean(predicted == y_test)

print "average accuracy"
print acc/10.0

0.751269035532995
0.7208121827411168
0.7461928934010152
0.7461928934010152
0.751269035532995
0.7309644670050761
0.6700507614213198
0.7715736040609137
0.7563451776649747
0.7360406091370558
average accuracy
0.7380710659898477

In [90]:
acc = 0
for i in range(0,10):
    X_train, X_test, y_train, y_test = train_test_split(counts, df['label'], test_size=0.2) 
    model = MultinomialNB().fit(X_train, y_train)  
    
    predicted = model.predict(X_test)
    print(np.mean(predicted == y_test))
    acc += np.mean(predicted == y_test)

print "average accuracy"
print acc/10.0

0.7614213197969543
0.7309644670050761
0.7538071065989848
0.7360406091370558
0.733502538071066
0.6903553299492385
0.7284263959390863
0.7055837563451777
0.7106598984771574
0.751269035532995
average accuracy
0.7302030456852793

In [91]:
acc = 0
for i in range(0,10):
    X_train, X_test, y_train, y_test = train_test_split(counts, df['label'], test_size=0.5) 
    model = MultinomialNB().fit(X_train, y_train)  

    predicted = model.predict(X_test)
    print(np.mean(predicted == y_test))
    acc += np.mean(predicted == y_test)

print "average accuracy"
print acc/10

0.7015228426395939
0.7177664974619289
0.7025380710659899
0.700507614213198
0.7137055837563452
0.6974619289340102
0.6994923857868021
0.716751269035533
0.7248730964467005
0.7309644670050761
average accuracy
0.7105583756345177

# Results comparison

In the N Lidell code the average accuracy is around 0.73-0.74 using unigrams while using the D. Shahrokhian code we get something aroud 0.73 wich is pretty close to N, Lidell implementation.